<template>
  <div>
    <label v-for="(element, index) of elements" :key="index">
      <input :id="element.name" type="checkbox"
             :value="element.name"
             v-model="backArray"
             @change="input(index)"
             >
      <span :class="{check: element.available}">{{ element.name }}</span> <br></label>

  </div>

</template>

<script>
export default {
  name: "Vlist",
  props: {
    elements: {
      type: Array,
    },
  },
  data: () => (
      {
        backArray: [],
      }),
  methods: {
    input(index) {
      this.$emit('input', this.backArray)
      this.elements[index].available = !this.elements[index].available
    }
  }
}

</script>

<style scoped>
.check {
  text-decoration: line-through;
}
</style>