<template>
  <div id="app">
    <div>
      <vlist :elements="elements" v-model="backList"/>
    </div>
    <div>
      <ul>
        <li v-for="(element, index) of backList" :key="index">{{ element }}</li>
      </ul>
    </div>
  </div>
</template>

<script>

import Vlist from "@/components/Vlist";

export default {
  name: 'App',
  components: {
    Vlist
  },
  data: () => (
      {
        elements: [
          {'name': 'Celo tape', 'available': false},
          {'name': 'Glucerine', 'available': false},
          {'name': 'Duprost', 'available': false},
          {'name': 'Tyronorm', 'available': false},
          {'name': 'Duracel', 'available': false},
          {'name': 'Sult', 'available': false},
          {'name': 'Curd', 'available': false},
          {'name': 'Bromhexin', 'available': false}],
        backList: [],
      }),
}
</script>

<style>
</style>
